
    .deal{
        font-family: Arial;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .tuesday{
        font-family: Arial;
        color: red;
        font-style: italic;
        font-size: 18px;
        margin-top: 0px;
    }
