
p{
    font-family: Arial, Helvetica, sans-serif ;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}
.tweet-header{
margin-bottom: 5px;
}
.tweet-author {
    font-weight: bold;
  }
.tweet-info{   
    color: rgb(120, 120, 120);
}
.tweet{
    width: 500px;
    line-height: 25px;
    margin-bottom: 20px;
}
.chp{
    color: rgb(29, 155, 240);
}
   