input{
width: 500px;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 15px;
padding-right: 15px;
border: none;
border-radius: 30px;
box-shadow: 0 5px 7px gray;
font-size: 16px;
margin-top: 20px;
margin-left: 20px;


}